################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/frontend/.vscode
/src/api/FinanceiroPessoal.API/financeiro_pessoal.db-wal
/src/api/FinanceiroPessoal.API/financeiro_pessoal.db-shm
/src/api/FinanceiroPessoal.API/financeiro_pessoal.db
